html {
    font-size: 18px; /* Set base font size */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
        font-family: 'Lato', sans-serif; /* Apply the Lato font */
 /* Slightly different modern sans-serif font */
    background-color: #F5F5F5; /* Off-white background */
    color: #212427; /* Off-black text color */
    padding-top: 45px; /* To prevent content from being hidden behind the sticky header */
}

/* Sticky Header Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF; /* White background for the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    z-index: 1000; /* Ensure it stays above other content */
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'medium-content-sans-serif-font', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Modern sans-serif font */
    color: #212427; /* Off-black text color */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

header nav ul li {
    margin-left: 0px;
}

header nav ul li a {
    text-decoration: none;
    color: #212427; /* Off-black text color */
    font-size: 1rem; /* Scale font size relative to the base font size */
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main Page Content */
.main-page-content {
    max-width: 50%;
    margin: auto;
    overflow-wrap: break-word;
    padding: 3rem 1rem 1rem;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

p, .p2, .p3, ul {
    color: #212427; /* Off-black text color */
        font-family: 'Lato', sans-serif; /* Apply the Lato font */
 /* Slightly different modern sans-serif font */
    font-size: 1rem; /* Scale font size relative to the base font size */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: auto;
    padding: 10px;
}

.center {
    display: block;
    margin: auto;
    padding: 10px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 33.33%;
    height: auto;
    padding: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
